# http://www.gnu.org/software/automake
*.a
configure
Makefile
Makefile.in
config.*
*.zip
*.tar.gz
.deps
.objs
*~
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
src/Makefile
CMakeLists.txt

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex
